<section
  class="page-banner"
  style="background-image: url('images/internes_slide.jpeg')"
>
  <div class="title">About Us</div>
</section>

<section class="about-us">
  <div class="container">
    <div class="cont-wrap">
      <div class="sections">
        <div class="title">Director’s Letter</div>
        <p>
          <strong>Global Interns</strong> is a student-mediator agency,
          connecting students to internship jobs and career opportunities. We
          started as student recruiters, assisting students to get placements in
          schools abroad. This awakened in us a strong rapport and affinity with
          young people. We came to understand and empathize with their
          particular aspirations; especially those who had a great zeal to soar
          above the mediocre.
        </p>
        <p>
          At <strong>Global Interns</strong>, we are
          <strong>Rethinking Internships</strong> and decided to go a step
          further and provide aid for youths beyond schooling. We additionally
          help prepare and place the young people for work, during school years
          and even after graduation, through Internship.
        </p>
        <p>
          In the past few years, we have pooled eclectic resources together and
          grown our portfolio, both on site and online. We have organized
          workshops, camps, conferences, and various programs for Youth. Our
          Programs are mainly focused on developing Youth’s talents, mentoring
          and coaching, and creating opportunities for learning and sharing
          experiences. Our participants emerge from these Programs better
          envisioned, empowered and energized.
        </p>
        <p>
          We dare say that <strong>Global Interns</strong> graduates are of
          great use to the organizations in which they intern. However, all
          these are incomplete without the participation of parents,
          corporations, global companies, business owners, and government
          agencies who provide the internship opportunities and are an integral
          part of the Global Interns Hub. We count on and appreciate your
          support. Together we are a pillar that props up the young ones, aiding
          them to arise and stand.
        </p>
        <p>Welcome to Global Interns.</p>
        <p>Yours,</p>
        <p>
          <strong
            ><small>Olufunmilayo Modupe Founder, Global Interns</small></strong
          >
        </p>
        <div class="title vision">Our Vision</div>
        <p>
          <blockquote>
            Seeing increasing numbers of students and graduates acquire business
            knowledge and social skills under the tutelage of industry experts
            across the world.
          </blockquote>
          
        </p>
      </div>

      <div class="sections">
        <div class="title">Meet the Founder</div>
        <div class="ceo">
          <div
            class="img"
            style="
              background-image: url('https://globalinternsng.com/wp-content/uploads/2018/12/ceo-203x203.jpg');
            "
          ></div>
        </div>
        <div class="text">Olufunmilayo Modupe</div>
        <p>
          Funmi is a vibrant and engaging personality. A core professional and
          education enthusiast, she can also be described as humanitarian and
          empathetic in her orientation. Having acquired varying degrees in
          Geography & Regional Planning and Global Marketing, both locally and
          internationally, she has amassed over twenty-five years of experience,
          serving in various capacities in the Banking, Public Relations and
          Publishing industries.
        </p>
        <p>
          In early 2013, Funmi founded a subsidiary firm Schoolingyonda
          Services, an organization birthed from passion and the need to fill
          identified gaps she picked up while placing her teenage children in
          schools abroad. This experience also exposed her to the misinformation
          and diverse challenges that families face while trying to place their
          children in schools generally and abroad in particular.
        </p>
        <p>
          Funmi believes strongly that Education is an on-going endeavor and not
          limited to age or the classroom, which is the very reason Global
          Interns Company was launched. In addition to creating opportunities
          for students to gain working experience, it has become paramount to
          deploy resources and motivate young people towards work readiness.
        </p>
        <p>
          The co-founder and editor of Brandfaces, a brand marketing magazine.
          She is one of the 200 women selected into the 1st Cohort of the
          African Women Entrepreneurship Cooperative (AWEC) from 52 Africa
          countries, Her passion extends to Noboyleftbehind, an academy that is
          equipping boys with morals and value for manhood.
        </p>
      </div>
    </div>
  </div>
</section>
