<section
  class="page-banner"
  style="background-image: url('images/internes_slide.jpeg')"
>
  <div class="title">About Us</div>
</section>

<section class="content">
  <div class="container">
    <div class="sub-title">Who is Global Interns</div>
    <div class="title">A Director’s letter</div>
    <p>
      <strong>Global Interns</strong> is a student-mediator agency, connecting
      students to internship jobs and career opportunities.
    </p>
    <p>
      We started out as student recruiters, assisting students to get placements
      in schools abroad.
    </p>
    <p>
      This awakened in us a strong rapport and affinity with young people. We
      came to not just understand, but to also emphasize with, their particular
      aspirations; especially those who had great zeal to soar above the
      mediocre.
    </p>
    <p>
      At <strong>Global Interns</strong>, we decided to go a step further and
      provide aid and support for these Youth beyond schooling. We additionally
      help prepare and place the young people for work, during school years and
      even after graduation, through Internship.
    </p>
    <p>
      We have in the past few years pooled eclectic resources together and grown
      our portfolio, both on site and online. We have organized workshops,
      camps, conferences, and various programs for Youth. Our Programs are
      mainly focused on developing Youth’s talents, mentoring and coaching, and
      creating opportunities for learning and sharing experiences. Our
      participants emerge from these Programs better envisioned, empowered and
      energized. We dare say that <strong>Global Interns</strong> graduates are
      of great use to the Organizations in which they intern.
    </p>
    <p>These are the reasons “why we do the things we do”</p>
    <p>
      We are here to intentionally improve work readiness in young people who
      acknowledge they need help and are willing to pursue success.
    </p>
    <p>
      All this is however incomplete without the participation of parents,
      corporations, business owners, establishments and Government agencies who
      provide the internship opportunities, and are an integral part of the
      Global Interns Hub. We count on and appreciate your support. Together we
      are a pillar that props up the young ones, aiding them to arise and stand.
    </p>
    <p>Welcome to Global Interns.</p>
    <p>Yours faithfully,</p>
    <div class="ceo">
      <span class="img" style="background-image: url('images/ceo.jpeg')"></span>
      <div>
        <div class="name">Olufunmilayo Modupe</div>
        <div class="role">Director</div>
      </div>
    </div>
  </div>
</section>

<section class="event">
  <div class="container">
    <div class="event-wrap">
      <div class="image">
        <img src="images/mission.svg" alt="" />
      </div>
      <div class="content">
        <div class="title">Our Mission</div>
        <div class="text">
          To provide a hub that gives key orientation to young people in Africa,
          and also aid them with excellent opportunities, to participate
          effectively in the workplace through internship.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="event">
  <div class="container">
    <div class="event-wrap">
      <div class="content">
        <div class="title">Our vision</div>
        <div class="text">
          Seeing increasing numbers of students and graduates acquire business
          knowledge and social skills under the tutelage of industry experts,
          which will ultimately help in their subsequent employability and
          career development.
        </div>
      </div>
      <div class="image">
        <img src="images/vision.svg" alt="" />
      </div>
    </div>
  </div>
</section>
