<section
  class="page-banner"
  style="background-image: url('images/partnerships.jpg')"
>
  <div class="title">Be a parthner</div>
</section>

<section class="content no-bottom">
  <div class="container">
    <div class="sub-title" style="font-size: 19px; font-weight: 800">
      Be a Partner
    </div>
    <p>
      Global Interns serves as a hub for training, preparing and placing
      eligible young people in internship programs.
    </p>
    <p>
      Online internship in general is a very cost-effective source of obtaining
      interested and motivated labor. You will not need to provide a workspace,
      office tools and equipment and other employer obligations, rather you will
      obtain candidates who can get the small tasks completed at little cost to
      you.
    </p>
    <p>
      Employing online interns is also a tremendous social service and
      responsibility to take up as you will be providing the upcoming ones with
      a great foundation and experience for future employment.
    </p>
    <p>
      If you wish to employ grounded interns at very little cost to your
      company, we are your best plug.
      <strong
        >We are equally open to discussions of an alternative In Person
        Internship if that will be your preference.</strong
      >
    </p>
    <p>
      We are always on the lookout for and welcome interested host-companies for
      our interns.
    </p>
    <p>
      For more information please contact us on email
      <a class="brand-color" href="mailto:info@globalinternsng.com"
        >info@globalinternsng.com</a
      >, or fill and submit the
      <strong
        ><a class="brand-color" href="/"
          >Partnership Registration Form</a
        ></strong
      >
    </p>
  </div>
</section>
