<section class="page-banner" style="background-image: url('images/p0.jpg')">
  <div class="title">Be a partner</div>
</section>

<section class="event">
  <div class="container">
    <div class="event-wrap">
      <div class="image">
        <img src="images/p1.jpg" alt="" />
      </div>
      <div class="content">
        <div class="text">
          Global Interns serves as a hub for training, preparing and placing
          eligible young people in internship programs. Online internship in
          general is a very cost-effective source of obtaining interested and
          motivated labor. You will not need to provide a workspace, office
          tools and equipment and other employer obligations, rather you will
          obtain candidates who can get the small tasks completed at little cost
          to you.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="event">
  <div class="container">
    <div class="event-wrap">
      <div class="content">
        <div class="text">
          Employing online interns is also a tremendous social service and
          responsibility to take up as you will be providing the upcoming ones
          with a great foundation and experience for future employment. If you
          wish to employ grounded interns at very little cost to your company,
          we are your best plug.<br /><br />
          <strong
            >We are equally open to discussions of an alternative In Person
            Internship if that will be your preference.</strong
          >
          We are always on the lookout for and welcome interested host-companies
          for our interns.<br />
          For more information please contact us on email
          <a class="brand-color" href="mailto:info@globalinternsng.com"
            >info@globalinternsng.com</a
          >, or fill and submit the
          <strong
            ><a class="brand-color" href="/"
              >Partnership Registration Form</a
            ></strong
          >
        </div>
      </div>
      <div class="image">
        <img src="images/p2.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
