<section
  class="page-banner"
  style="background-image: url('images/how-it-works.jpg')"
>
  <div class="title">Events</div>
</section>

<section class="gallery-wrap">
  <div class="container">
    <div class="gallery">
      <a class="img-wap" data-fancybox="gallery" href="images/1.jpeg">
        <div class="img" style="background-image: url('images/1.jpeg')"></div>
      </a>
      <a data-fancybox="gallery" href="images/2.jpeg">
        <div class="img" style="background-image: url('images/2.jpeg')"></div>
      </a>
      <a data-fancybox="gallery" href="images/3.jpeg">
        <div class="img" style="background-image: url('images/3.jpeg')"></div>
      </a>
      <a data-fancybox="gallery" href="images/4.jpeg">
        <div class="img" style="background-image: url('images/4.jpeg')"></div>
      </a>
      <a
        data-fancybox="gallery"
        href="https://www.youtube.com/watch?v=0ncD2VpW06Y"
      >
        <img
          class="card-img-top img-fluid"
          src="https://img.youtube.com/vi/0ncD2VpW06Y/mqdefault.jpg"
        />
      </a>
      <a
        data-fancybox="gallery"
        href="https://www.youtube.com/watch?v=cjReQ-3B9iM"
      >
        <img
          class="card-img-top img-fluid"
          src="https://img.youtube.com/vi/cjReQ-3B9iM/mqdefault.jpg"
        />
      </a>
    </div>
  </div>
</section>

<script>
  $('[data-fancybox="gallery"]').fancybox({});
</script>
