<section
  class="page-banner"
  style="background-image: url('images/how-it-works.jpg')"
>
  <div class="title">Events</div>
</section>

<section class="gallery-wrap">
  <div class="container">
    <div class="gallery">
      <a class="img-wap" data-fancybox="gallery" href="images/1.jpeg">
        <div class="img" style="background-image: url('images/1.jpeg')"></div>
      </a>
      <a data-fancybox="gallery" href="images/2.jpeg">
        <div class="img" style="background-image: url('images/2.jpeg')"></div>
      </a>
      <a data-fancybox="gallery" href="images/3.jpeg">
        <div class="img" style="background-image: url('images/3.jpeg')"></div>
      </a>
      <a data-fancybox="gallery" href="images/4.jpeg">
        <div class="img" style="background-image: url('images/4.jpeg')"></div>
      </a>
      <a
        data-fancybox="gallery"
        href="https://www.youtube.com/watch?v=0ncD2VpW06Y"
      >
        <img
          class="card-img-top img-fluid"
          src="https://img.youtube.com/vi/0ncD2VpW06Y/mqdefault.jpg"
        />
      </a>
      <a
        data-fancybox="gallery"
        href="https://www.youtube.com/watch?v=cjReQ-3B9iM"
      >
        <img
          class="card-img-top img-fluid"
          src="https://img.youtube.com/vi/cjReQ-3B9iM/mqdefault.jpg"
        />
      </a>
      <a data-fancybox="gallery" href="images/7.jpg">
        <div class="img" style="background-image: url('images/7.jpg')"></div>
      </a>
      <a data-fancybox="gallery" href="images/8.jpg">
        <div class="img" style="background-image: url('images/8.jpg')"></div>
      </a>
      <a data-fancybox="gallery" href="images/9.jpg">
        <div class="img" style="background-image: url('images/9.jpg')"></div>
      </a>
      <a data-fancybox="gallery" href="images/10.jpg">
        <div class="img" style="background-image: url('images/10.jpg')"></div>
      </a>
      <a data-fancybox="gallery" href="images/11.jpg">
        <div class="img" style="background-image: url('images/11.jpg')"></div>
      </a>
      <a data-fancybox="gallery" href="images/12.jpg">
        <div class="img" style="background-image: url('images/12.jpg')"></div>
      </a>
      <a data-fancybox="gallery" href="images/13.jpg">
        <div class="img" style="background-image: url('images/13.jpg')"></div>
      </a>
      <a data-fancybox="gallery" href="images/14.jpg">
        <div class="img" style="background-image: url('images/14.jpg')"></div>
      </a>
      <a data-fancybox="gallery" href="images/15.jpg">
        <div class="img" style="background-image: url('images/15.jpg')"></div>
      </a>
      <a data-fancybox="gallery" href="images/16.jpg">
        <div class="img" style="background-image: url('images/16.jpg')"></div>
      </a>
      <a data-fancybox="gallery" href="images/17.jpg">
        <div class="img" style="background-image: url('images/17.jpg')"></div>
      </a>
      <a data-fancybox="gallery" href="images/18.jpg">
        <div class="img" style="background-image: url('images/18.jpg')"></div>
      </a>
      <a data-fancybox="gallery" href="images/19.jpg">
        <div class="img" style="background-image: url('images/19.jpg')"></div>
      </a>
    </div>
  </div>
</section>

<script>
  $('[data-fancybox="gallery"]').fancybox({});
</script>
