<section class="home-banner">
  <div class="container">
    <div class="home-banner--wrapper">
      <div class="home-banner--info-section">
        <img
          class="animate__animated animate__pulse animate__slower animate__infinite"
          src="images/dot3.png"
        />
        <div class="home-banner--info-section-subtitle">Global Interns</div>
        <div class="home-banner--info-section-title">
          Get the best internships
        </div>
        <div class="home-banner--info-section-caption">
          Prepare for global job opportunities.
        </div>
        <a ui-sref="about" class="button">Learn More</a>
      </div>
      <div class="home-banner--image-section">
        <img src="images/banner.svg" />
      </div>
    </div>
  </div>
</section>

<section class="welcome">
  <div class="container">
    <div class="title" style="margin-bottom: 2rem;">Welcome to <span class="brand-color">Global Interns</span></div>
    <div class="content-wrap">
      We equip and prepare young people for life and career. Our goal is to increase the employability and skills of young people. The platform provides a global exchange of new knowledge, soft skills, and work ethics from industry professionals and experts to students and educational institutions.
    </div>
  </div>
</section>

<section class="our-services">
  <div class="container">
    <div class="sub-title">Take Up Remote Internships</div>
    <div class="title">See How It Works</div>
    <div class="card-wrap">
      <div class="card">
        <a ui-sref="see-how-it-works">
          <div class="icon"><i class="fa fa-bar-chart assess" aria-hidden="true"></i></div>
          <div class="card-title">Assessment</div>
          <div class="caption">Get assessed with an eligibility check</div>
        </a>
        
      </div>
      <div class="card">
        <a ui-sref="see-how-it-works">
          <div class="icon"><i class="fa fa-pencil-square-o apply" aria-hidden="true"></i></div>
          <div class="card-title">Apply</div>
          <div class="caption">After successful assessment</div>
        </a>
      </div>
      <div class="card">
        <a ui-sref="see-how-it-works">
          <div class="icon"><i class="fa fa-usd pay" aria-hidden="true"></i></i></div>
          <div class="card-title">Payment</div>
          <div class="caption">
            Choose internship, and make payment
          </div>
        </a>
      </div>
      <div class="card">
        <a ui-sref="see-how-it-works">
          <div class="icon"><i class="fa fa-thumbs-o-up confirm" aria-hidden="true"></i></div>
          <div class="card-title">Confirmation</div>
          <div class="caption">Get confirmation and start work</div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="event">
	<div class="container">
		<div class="event-wrap">
            <div class="image">
				<img src="images/mission.svg" alt="">
			</div>
			<div class="content">
				<div class="title">
					Our Mission
				</div>
				<div class="text">To provide a hub that gives key orientation to young people in Africa, and also aid them with excellent opportunities, to participate effectively in the workplace through internship.</div>
			</div>
		</div>
	</div>
</section>

<section class="partnerships">
  <div class="banner" style="background-image: url('images/partnerships.jpg');">
    <div class="overlay">
      <div class="caption">Be a partner</div>
      <div class="content">Be a host company for versatile interns</div>
      <a ui-sref="be-a-partner" class="button">Learn How</a>
    </div>
  </div>
</section>

<section class="testimonials">
  <div class="sub-title">See what companies are saying about us</div>
    <div class="title">Our Testimonials</div>
  <div class="container">
    <div class="swiper-container mySwiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-wrapper">
            <div class="img">
              <img src="images/fuseboxx.jpeg" alt="">
            </div>
            <div class="content">
              For a youth culture business like mine getting bright young minds is very paramount and Global interns was a great resource to provide intelligent and curious interns who helped push our ideation process in a new direction.
            </div>
            <div class="caption">
              CEO Fuseboxx
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-wrapper">
            <div class="img">
              <img src="images/curve.jpeg" alt="">
            </div>
            <div class="content">
              I think Global Interns provides the unique plug for young and talented students to connect work experiences in the 21st Century.
            </div>
            <div class="caption">
              CEO Curve Communications
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-wrapper">
            <div class="img">
              <img src="images/averti.jpeg" alt="">
            </div>
            <div class="content">
              It was such a pleasure having Ada from Global Interns in our workforce. She exceeded all expectations. Very punctual, professional and related so well with everyone. She was a good communicator. We were sad to see her go.
            </div>
            <div class="caption">
              Managing Partner, Averti Professional Managers
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-wrapper">
            <div class="img">
              <img class="pierrine" src="images/pierrine.png" alt="">
            </div>
            <div class="content">
              We have had the privilege of partnering with Global Interns and every single engagement, always a pleasure. The team is highly professional and passionate about what they do. We highly recommend them.
            </div>
            <div class="caption">
              CEO Pierrine Consulting
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>









<script>
  var swiper = new Swiper(".mySwiper", {
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
</script>









































