<section class="home-banner">
  <div class="container">
    <div class="home-banner--wrapper">
      <div class="home-banner--info-section">
        <img
          class="animate__animated animate__pulse animate__slower animate__infinite"
          src="images/dot3.png"
        />
        <div class="home-banner--info-section-subtitle">Global Interns</div>
        <div class="home-banner--info-section-title">
          Get the best internships
        </div>
        <div class="home-banner--info-section-caption">
          We are growing a community of learners and givers; we equip and
          prepare young people for life and career.
        </div>
        <a href="" class="button">Learn More</a>
      </div>
      <div class="home-banner--image-section">
        <img src="images/banner.svg" />
      </div>
    </div>
  </div>
</section>

<section class="our-services">
  <div class="container">
    <div class="sub-title">How it works</div>
    <div class="title">Get International Internships</div>
    <div class="card-wrap">
      <div class="card" style="background-image: url('images/cards-bg.png')">
        <div class="icon"><i class="fa fa-bar-chart assess" aria-hidden="true"></i></div>
        <div class="card-title">Assessment</div>
        <div class="caption">Get assessed and do an eligibility check</div>
      </div>
      <div class="card" style="background-image: url('images/cards-bg.png')">
        <div class="icon"><i class="fa fa-pencil-square-o apply" aria-hidden="true"></i></div>
        <div class="card-title">Apply</div>
        <div class="caption">After successful assessment you apply</div>
      </div>
      <div class="card" style="background-image: url('images/cards-bg.png')">
        <div class="icon"><i class="fa fa-usd pay" aria-hidden="true"></i></i></div>
        <div class="card-title">Payment</div>
        <div class="caption">
          Choose internship, and make payment
        </div>
      </div>
      <div class="card" style="background-image: url('images/cards-bg.png')">
        <div class="icon"><i class="fa fa-thumbs-o-up confirm" aria-hidden="true"></i></div>
        <div class="card-title">Confirmation</div>
        <div class="caption">Get confirmation and start your internship</div>
      </div>
    </div>
  </div>
</section>

<section class="event">
	<div class="container">
		<div class="event-wrap">
            <div class="image">
				<img src="images/mission.svg" alt="">
			</div>
			<div class="content">
				<div class="title">
					Our Mission
				</div>
				<div class="text">To provide a hub that gives key orientation to young people in Africa, and also aid them with excellent opportunities, to participate effectively in the workplace through internship.</div>
			</div>
		</div>
	</div>
</section>

<section class="event">
	<div class="container">
		<div class="event-wrap">
			<div class="content">
				<div class="title">
					Our vision
				</div>
				<div class="text">Seeing increasing numbers of students and graduates acquire business knowledge and social skills under the tutelage of industry experts, which will ultimately help in their subsequent employability and career development.</div>
			</div>
            <div class="image">
				<img src="images/vision.svg" alt="">
			</div>
		</div>
	</div>
</section>

