<section
  class="page-banner"
  style="background-image: url('images/intern.jpeg')"
>
  <div class="title">Internship</div>
</section>

<section class="event">
  <div class="container">
    <div class="event-wrap">
      <div class="image">
        <img src="images/intern.svg" alt="" />
      </div>
      <div class="content">
        <div class="title">Internship</div>
        <div class="text">
          <p>
            An <strong>internship</strong> is an opportunity an employer gives
            to a student who is looking to gain relevant skills and experience,
            have exposure to the work environment, have work experience, and
            also on-the-job training at their organization for a fixed period of
            time; in exchange for the employer benefiting from the student’s
            services in support tasks. So an internship is basically an exchange
            of services by the intern for experience with the organization.
          </p>
          <p style="margin-bottom: 0">
            Internships are usually arranged by third-party organizations that
            recruit interns on behalf of the Companies. This is a key role of
            Global Interns.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content no-bottom">
  <div class="container">
    <div class="sub-title" style="font-size: 19px; font-weight: 800">
      What is Remote Internship?
    </div>
    <p>
      <strong>Remote Internship</strong> is also known
      <strong>as Online Internship or Virtual Internship</strong> is a work
      experience program where the participant gains experience while working in
      a remote setting through a computer or telephone, and is not physically
      present at the job location.
    </p>
    <p>
      This means working, handling projects, taking phone calls and having
      meetings, all from anywhere you are once you have an internet connection
      and can communicate with your employer through a range of online resources
      and key communication platforms.
    </p>
    <p>
      Global Interns prepares students and graduates for the new digital
      workspace through remote internships, giving a first-hand experience of
      remote working with, and in, reputable businesses. We help position you
      for your dream job and career potentials.
    </p>
  </div>
</section>

<section class="content no-bottom">
  <div class="container">
    <div
      class="sub-title"
      style="font-size: 19px; font-weight: 800; margin-bottom: 20px"
    >
      Why Remote?
    </div>
    <ol type="1">
      <li>
        <strong>Accessibility and Flexibility</strong>: You can work from
        wherever you are, at your own time, once you have a computer or phone
        with an internet connection.
      </li>
      <li>
        <strong>Competitive edge</strong>: Competition for entry-level job
        openings is very high. To be noticed, your Resume needs to stand out and
        it surely will if it reads that you have remote work experience.
      </li>
      <li>
        <strong>Finances</strong>: It allows you to work and also save money
        that would have been used on transportation. More so, some companies
        even pay interns a stipend.
      </li>
    </ol>
  </div>
</section>

<section class="content no-bottom">
  <div class="container">
    <div class="sub-title" style="font-size: 19px; font-weight: 800">
      See Your Gains
    </div>
    <p>
      Global Interns has carefully designed and incorporated 5 key learning
      objectives into its internship programs:
    </p>
    <ul class="segmented-content">
      <li>
        <div class="inner-title">
          <span class="icon"
            ><i class="fa fa-check" aria-hidden="true"></i
          ></span>
          <span class="text">Acquire Employable skills</span>
        </div>
        <div class="content">
          <span
            >Employable skills also known as soft skills or transferable skills
            are essential competency skills and personal qualities that make you
            more effective at work and are useful and necessary for literally
            every job. They are an addition to your key technical knowledge,
            they include communication skills, teamwork, technology skills,
            problem-solving and analytical skills, planning and organization,
            negotiation and persuasion, and self-management.</span
          >
        </div>
      </li>

      <li>
        <div class="inner-title">
          <span class="icon"
            ><i class="fa fa-check" aria-hidden="true"></i
          ></span>
          <span class="text">Learn Business Sense</span>
        </div>
        <div class="content">
          <span
            >Business sense and acumens is about having a holistic understanding
            about how a company operates. Our internships will train you to
            understand how a business works: what it does, goals and strategies,
            how it produces its goods or services, how it markets and sells, how
            it makes money and becomes profitable, its values and also
            understanding the industry in which the company operates.</span
          >
        </div>
      </li>

      <li>
        <div class="inner-title">
          <span class="icon"
            ><i class="fa fa-check" aria-hidden="true"></i
          ></span>
          <span class="text"
            >Develop virtual work etiquettes and global work skills</span
          >
        </div>
        <div class="content">
          <span
            >Working remotely has many advantages and also has some
            peculiarities. With Global Interns, you will learn how to work
            remotely, how to use appropriate online tools, how to attend online
            meetings, and generally conduct yourself in a professional
            international manner while working remotely.
          </span>
        </div>
      </li>

      <li>
        <div class="inner-title">
          <span class="icon"
            ><i class="fa fa-check" aria-hidden="true"></i
          ></span>
          <span class="text">Get Reference from Experts</span>
        </div>
        <div class="content">
          <span
            >Global Interns is acknowledged as one of the best and most reliable
            sources for internship referrals. When you have participated
            satisfactorily in any of our Global Interns Programs, we provide you
            with expert reference and recommendation which will give you an
            advantage and competitive edge when seeking other employment.</span
          >
        </div>
      </li>
    </ul>
  </div>
</section>
