<section
  class="page-banner"
  style="background-image: url('images/intern.jpeg')"
>
  <div class="title">Internship</div>
</section>

<section class="event" style="padding: 4rem 0 0rem 0">
  <div class="container">
    <div class="event-wrap">
      <div class="image">
        <img src="images/intern.svg" alt="" />
      </div>
      <div class="content">
        <div class="title" style="margin-top: 0">Internship</div>
        <div class="text">
          <p style="font-size: 16px">
            An <strong>internship</strong> is an opportunity an employer gives
            to a student who is looking to gain relevant skills and experience,
            have exposure to the work environment, have work experience, and
            also on-the-job training at their organization for a fixed period of
            time; in exchange for the employer benefiting from the student’s
            services in support tasks. So an internship is basically an exchange
            of services by the intern for experience with the organization.
          </p>
          <p style="font-size: 16px">
            Internships are usually arranged by third-party organizations that
            recruit interns on behalf of the Companies. This is a key role of
            Global Interns.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content no-bottom">
  <div class="container">
    <div class="sub-title" style="font-size: 19px; font-weight: 800">
      What is Remote Internship?
    </div>
    <p>
      Current times necessitate the use of virtual offices and virtual jobs,
      particularly with the advent of Covid-19 and the subsequent various safety
      restrictions.
    </p>
    <p>
      Online Internship also known as Remote Internship or Virtual Internship is
      a work experience program where the participant gains experience while
      working in a remote setting through a computer or telephone, and is not
      physically present at the job location. It is a work experience that takes
      place online instead of commuting into an office each day. This means
      working, handling projects, taking phone calls and having meetings, all
      from anywhere you are once you have an internet connection and can
      communicate with your employer through a range of online resources and key
      communication platforms.
    </p>
    <p>
      Global Interns prepares students and graduates for the new digital
      workspace through virtual internships, giving a first-hand experience of
      remote working with, and in, reputable businesses. We help position you
      for your dream job and career potentials.
    </p>
  </div>
</section>

<section class="content no-bottom">
  <div class="container">
    <div class="sub-title" style="font-size: 19px; font-weight: 800">
      Why consider this?
    </div>
    <ol type="1">
      <li>
        <strong>Accessibility and Flexibility</strong>: You can work from
        wherever you are, at your own time, once you have a computer or phone
        with an internet connection. Online internship work eliminates the task
        of getting to a physical office and back.
      </li>
      <li>
        <strong>Competitive edge</strong>: Competition for entry-level job
        openings is very high. To be noticed, your Resume needs to stand out and
        it surely will if it reads that you have work experience through online
        internship.
      </li>
      <li>
        <strong>Finances</strong>: An online internship gives you the
        opportunity to work and also save money used on transportation. Moreso,
        some companies even pay interns a token amount.
      </li>
    </ol>
  </div>
</section>

<section class="content no-bottom">
  <div class="container">
    <div class="sub-title" style="font-size: 19px; font-weight: 800">
      SEE YOUR GAINS
    </div>
    <p>
      Global Interns has carefully designed and incorporated 5 key learning
      objectives into its internship programs:
    </p>
    <ul class="segmented-content">
      <li>
        <div class="inner-title">
          <span class="icon"
            ><i class="fa fa-check" aria-hidden="true"></i
          ></span>
          <span class="text">Acquire Employable skills</span>
        </div>
        <div class="content">
          <span
            >Employable skills are essential competency skills and personal
            qualities that make you more effective at work and are useful and
            necessary for literally every job. We will help you develop an
            expertise, knowledge base and mindset that will make you more
            attractive to employers.</span
          >
          <span
            >Employable skills are sometimes called soft skills, foundational
            skills or transferable skills because they are an additional to your
            key technical knowledge and experience such as communication skills,
            teamwork, technology skills, problem solving and analytical skills,
            planning and organization, negotiation and persuasion, and
            self-management.</span
          >
        </div>
      </li>

      <li>
        <div class="inner-title">
          <span class="icon"
            ><i class="fa fa-check" aria-hidden="true"></i
          ></span>
          <span class="text">Learn Business Sense</span>
        </div>
        <div class="content">
          <span
            >Business sense and acumens is about having a holistic understanding
            about how a company operates. We will train you to understand how a
            business works: what it does, how it produces its goods or services,
            how it markets and sells its goods and services, how it makes money
            and becomes profitable, its values, goals and strategies, its work
            etiquette, and also understanding the industry in which the company
            operates.</span
          >
        </div>
      </li>

      <li>
        <div class="inner-title">
          <span class="icon"
            ><i class="fa fa-check" aria-hidden="true"></i
          ></span>
          <span class="text"
            >Develop virtual work etiquettes, develop global work skills and
            also Work effectively from anywheree</span
          >
        </div>
        <div class="content">
          <span
            >Working remotely has many advantages and also has some
            peculiarities. With Global Interns, you will learn how to work
            remotely, how to use appropriate online tools, how to attend online
            meetings, and generally conduct yourself in a professionally
            international manner while working remotely.
          </span>
        </div>
      </li>

      <li>
        <div class="inner-title">
          <span class="icon"
            ><i class="fa fa-check" aria-hidden="true"></i
          ></span>
          <span class="text">Get Reference from Experts</span>
        </div>
        <div class="content">
          <span
            >Global Interns is acknowledged as one of the best and most reliable
            sources for internship referrals. When you have participated
            satisfactorily in any of our Global Interns Programs, we provide you
            with a certificate, expert reference and recommendation which will
            give you an advantage and competitive edge when seeking
            employment.</span
          >
        </div>
      </li>
    </ul>
  </div>
</section>
