<section
  class="page-banner"
  style="background-image: url('images/how-it-works.jpg')"
>
  <div class="title">See how it works</div>
</section>

<section class="our-services">
  <div class="container">
    <div class="sub-title">Take Up Remote Internships</div>
    <div class="title">See How It Works</div>
  </div>
</section>

<section class="steps">
  <div class="container">
    <div class="step-title">
      <div class="step">
        <span class="text">Step</span>
        <span class="number">1</span>
      </div>
      <div class="the-title">Assessment</div>
    </div>
    <p>
      We have put together a basic Assessment Questionnaire to get to know you
      better, and also determine your suitability as an intern for our partners.
    </p>
    <p>
      Let’s get to it! Click
      <strong class="brand-color"><a href="#" target="_blank">here</a></strong>
      to get assessed
    </p>
    <p class="itali">
      <strong>Please Note: </strong> Global Interns will contact you within 5 days after the assessment (via the email address you have forwarded) to communicate your next steps. Only successful candidates will receive a message.
    </p>
  </div>
</section>

<section class="steps">
  <div class="container">
    <div class="step-title">
      <div class="step">
        <span class="text">Step</span>
        <span class="number">2</span>
      </div>
      <div class="the-title">APPLY</div>
    </div>
    <p>
      Congratulations! You have passed our intern’s assessment stage, you can now apply for an internship slot.
    </p>
    <p>
      Select from our bouquet of internship programs with duration, availability and prices.
    </p>
    <p>
      <table>
        <tr>
          <th>Program</th>
          <th>Duration</th>
          <th>Slot</th>
          <th>Available</th>
          <th>Price</th>
        </tr>
        <tr>
          <td>Remote Internship</td>
          <td>6Months</td>
          <td>Mar–Aug</td>
          <td>20</td>
          <td>N20,000 /$50</td>
        </tr>
        <tr>
          <td>In person Internship</td>
          <td>6Months</td>
          <td>Mar–Aug</td>
          <td>10</td>
          <td>N30,000 /$55</td>
        </tr>
        <tr>
          <td>Summer Internship</td>
          <td>3Months</td>
          <td>Mar–Aug</td>
          <td>20</td>
          <td>N20,000 /$50</td>
        </tr>
      </table>
    </p>
  </div>
</section>

<section class="steps">
  <div class="container">
    <div class="step-title">
      <div class="step">
        <span class="text">Step</span>
        <span class="number">3</span>
      </div>
      <div class="the-title">Make Payment</div>
    </div>
    <p>
      You are a few steps away to getting an internship slot, and a bonus!!
    </p>
    <p>
      You will receive a confirmation email within 24 hours of payment.
    </p>
    <p class="itali">
      <strong>Please Note: </strong>
      <ul>
        <li>You, however, have the option of paying the program fee in two installments.</li>
        <li>In which instant you will be required to send an email to <a class="brand-color" href="mailto:info@globalinternsng.com">info@globalinternsng.com</a> informing us about your intention to make payment twice.</li>
        <li>Program prices may be subject to minor changes due to currency fluctuations.</li>
      </ul>
    </p>
    <p>
      <span class="p-title">Payment Details:</span>
      <table>
        <tr>
          <td><strong>Account Name: </strong></td>
        </tr>
        <tr><td><strong>Bank: </strong></td></tr>
        <tr><td><strong>Account Number: </strong></td></tr>
      </table>
    </p>
  </div>
</section>

<section class="steps">
  <div class="container">
    <div class="step-title">
      <div class="step">
        <span class="text">Step</span>
        <span class="number">4</span>
      </div>
      <div class="the-title">Confirmation</div>
    </div>
    <p>
      Global Interns is pleased to welcome you to a unique e-learning and remote work readiness internship.
    </p>
    <p>
      You will receive the following packages:

      <ul>
        <li>
          <div class="icon-pac">
            <span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span>
            <span class="text">Your Internship and more</span>
          </div>
          <p>
            You will be given an internship job placement in a Company within your indicated interests. Specify name and contact details of company.
          </p>
        </li>
        <li>
          <div class="icon-pac">
            <span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span>
            <span class="text">Employee On-boarding</span>
          </div>
          <p>We will help intimate you with the Company and also help you to better understand your role and function in the Company. You will be assigned a dedicated career coach to help you navigate through your internship.
          </p>
        </li>
        <li>
          <div class="icon-pac">
            <span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span>
            <span class="text">Claim the Global Interns <strong>BONUS</strong></span>
          </div>
          <p>XXXXXXXXXXXX</p>
        </li>
      </ul>
    </p>
  </div>
</section>