<section
  class="page-banner"
  style="background-image: url('images/how-it-works.jpg')"
>
  <div class="title">See how it works</div>
</section>

<section class="our-services">
  <div class="container">
    <div class="sub-title">Take Up Remote Internships</div>
    <div class="title">See How It Works</div>
  </div>
</section>

<section class="steps">
  <div class="container">
    <div class="step-title">
      <div class="step">
        <span class="text">Step</span>
        <span class="number">1</span>
      </div>
      <div class="the-title">Assessment</div>
    </div>
    <p>
      We have put together a basic Assessment Questionnaire to get to know you better, and also determine your suitability as an intern for our partner employers.
    </p>
    <p>
      Let’s get to it! Click
      <strong class="brand-color"><a href="../images/Interns-Assessment-Questionnaire.pdf" target="_blank">here</a></strong>
      to get assessed
    </p>
    <p class="itali">
      <strong>Please Note: </strong> Global Interns will contact you via your email if you are eligible within 5 working days of submitting an assessment to communicate your next steps. Only eligible candidates will receive an email.
    </p>
  </div>
</section>

<section class="steps">
  <div class="container">
    <div class="step-title">
      <div class="step">
        <span class="text">Step</span>
        <span class="number">2</span>
      </div>
      <div class="the-title">APPLY</div>
    </div>
    <p>
      Congratulations! You have passed our intern’s assessment stage, you can now apply for an internship slot.
    </p>
    <p>
      Select from our bouquet of internship programs with duration, availability and prices.
    </p>
    <div class="table-wrap">
      <table>
        <tr>
          <th>Program</th>
          <th>Duration</th>
          <th>Slot</th>
          <th>Available</th>
          <th>Price</th>
        </tr>
        <tr>
          <td>Remote Internship</td>
          <td>6Months</td>
          <td>Mar–Aug</td>
          <td>20</td>
          <td>N20,000 /$50</td>
        </tr>
        <tr>
          <td>In person Internship</td>
          <td>6Months</td>
          <td>Mar–Aug</td>
          <td>10</td>
          <td>N20,000 /$55</td>
        </tr>
        <tr>
          <td>Summer Internship</td>
          <td>3Months</td>
          <td>Mar–Aug</td>
          <td>20</td>
          <td>N20,000 /$50</td>
        </tr>
      </table>
    </div>
  </div>
</section>

<section class="steps">
  <div class="container">
    <div class="step-title">
      <div class="step">
        <span class="text">Step</span>
        <span class="number">3</span>
      </div>
      <div class="the-title">Make Payment</div>
    </div>
    <p>
      You are a few steps away to get an internship and a bonus!!
    </p>
    <p>
      Global Interns will send to you a payment confirmation email within 3 working days of payment.
    </p>
    <div style="margin-top: 40px;">
      <a target="_blank" class="button" href="">Click here to Pay</a>
    </div>
  </div>
</section>

<section class="steps">
  <div class="container">
    <div class="step-title">
      <div class="step">
        <span class="text">Step</span>
        <span class="number">4</span>
      </div>
      <div class="the-title">Placement Confirmation</div>
    </div>
    <p>
      Global Interns is pleased to welcome you to a unique e-learning and remote work internship.
    </p>
    <p>
      Welcome to Global Interns unique remote work experience. You will receive the following packages:
      <ul>
        <li>
          <div class="icon-pac">
            <span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span>
            <span class="text">Your Internship and more</span>
          </div>
          <p>
            You will be given an internship job placement in a company within your indicated interests. An offer letter specifying the company details and job description will be sent to your email.
          </p>
        </li>
        <li>
          <div class="icon-pac">
            <span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span>
            <span class="text">Employee On-boarding</span>
          </div>
          <p>We will help intimate you with the employer company and  also better understand your roles and functions.
          </p>
        </li>
      </ul>
    </p>
  </div>
</section>