<section
  class="page-banner"
  style="background-image: url('images/intern.jpeg')"
>
  <div class="title">Services</div>
</section>

<section class="event" style="padding: 4rem 0 0rem 0">
  <div class="container">
    <div class="event-wrap">
      <div class="image">
        <img src="images/intern.svg" alt="" />
      </div>
      <div class="content">
        <div class="title" style="margin-top: 0">Internship</div>
        <div class="text">
          <p style="font-size: 16px">
            An internship is an opportunity an employer gives to a student who
            is looking to gain relevant skills and experience, have exposure to
            the work environment, have work experience, and also on-the-job
            training at their organization for a fixed period of time; in
            exchange for the employer benefiting from the student’s services in
            support tasks. So an internship is basically an exchange of services
            by the intern for experience with the organization.
          </p>
          <p style="font-size: 16px">
            Internships are usually arranged by third-party organizations that
            recruit interns on behalf of the Companies. This is a key role of
            Global Interns.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content no-bottom">
  <div class="container">
    <div class="sub-title" style="font-size: 19px; font-weight: 800">
      What is Online Internship?
    </div>
    <p>
      Current times necessitate the use of virtual offices and virtual jobs,
      particularly with the advent of Covid-19 and the subsequent various safety
      restrictions.
    </p>
    <p>
      Online Internship also known as Remote Internship or Virtual Internship is
      a work experience program where the participant gains experience while
      working in a remote setting through a computer or telephone, and is not
      physically present at the job location. It is a work experience that takes
      place online instead of commuting into an office each day. This means
      working, handling projects, taking phone calls and having meetings, all
      from anywhere you are once you have an internet connection and can
      communicate with your employer through a range of online resources and key
      communication platforms.
    </p>
    <p>
      Global Interns prepares students and graduates for the new digital
      workspace through virtual internships, giving a first-hand experience of
      remote working with, and in, reputable businesses. We help position you
      for your dream job and career potentials
    </p>
  </div>
</section>
