<section
  class="page-banner"
  style="background-image: url('images/intern.jpeg')"
>
  <div class="title">Services</div>
</section>

<!-- <section class="event">
  <div class="container">
    <div class="event-wrap full">
      <div class="content">
        <div class="text" style="text-align: center">
          <p>
            Global interns is proud to showcase its other related services in
            which it has equally exceled over the years.
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="content no-bottom">
  <div class="container">
    <div class="sub-title">Internship Program Templates for businesses</div>
    <p>
      Findings have revealed that many employers are usually frustrated with the
      presence of young interns in the workplace when they are unprepared for
      interns’ short term employment.
    </p>
    <p>
      At Global Interns we have the art of designing
      <strong>customized internship program templates</strong> that are
      rewarding for both the employer and interns.
    </p>
    <p>
      We develop Internships to make them attractive, experiential and valuable
      for today’s employer and students alike.
    </p>
  </div>
</section>

<section class="content no-bottom">
  <div class="container">
    <div class="sub-title" style="font-size: 19px; font-weight: 800">
      Internship Programs for High Schools Students
    </div>
    <p>
      The recruitment of teenagers in the workplace is relatively new and still
      frowned at by many employers. However research has shown that there are
      many benefits in acquiring skills and making better career choices to high
      school students who take up internship early in life.
    </p>
    <p>
      It is noteworthy to say that Global Interns takes keen interest in
      ‘catching them young’ and thereby over the years have developed lucrative
      and skill building internship programs for high schools.
    </p>
  </div>
</section>

<section class="content no-bottom">
  <div class="container">
    <div class="sub-title" style="font-size: 19px; font-weight: 800">
      Employability Skills Training
    </div>
    <p>
      Global Interns employability skills training prepare graduates and new
      entry employees to be ready for today’s work patterns across nations and
      industries.
    </p>
    <p>
      Our trainings helps young people to acquire and even practice soft skills
      which are also referred to as ‘employability skills’. It’s a must-have in
      today’s workplace.
    </p>
  </div>
</section>
