$header-height: 80px;
$text-color: #0d1f3b;
$brand-color: #33ba9c;

#main {
  overflow: hidden;
}
.hide-on-mobile {
  display: inline-block !important;
  @media (max-width: 991px) {
    display: none !important;
  }
}
.hide-on-desktop {
  display: none !important;
  @media (max-width: 991px) {
    display: inline-block !important;
  }
}
a,
button {
  text-decoration: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  color: $text-color;
  background-color: #ffffff;
}

.container {
  width: 80%;
  margin: auto;
  @media (max-width: 991px) {
    width: 90%;
  }
}

header {
  height: $header-height;
  line-height: 45px;
  width: 100%;
  background: #fbfefd;
  // border-bottom: 1px solid #efefef;
  // box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1000;
  overflow: hidden;
  .header-wrap {
    display: flex;
    flex-direction: row;
    &--logo-section {
      width: 20%;
      text-align: left;
      img {
        width: 150px;
      }
    }
    &--link-section {
      width: 80%;
      ul {
        text-align: right;
        li {
          display: inline-block;
          margin-left: 40px;
          a {
            color: $text-color;
            text-decoration: none;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            font-size: 15px;
            display: inline-block;
            border-bottom: 2px solid transparent;
          }
          &.current {
            a {
              color: $brand-color;
              font-weight: 500;
            }
          }
          &.bugger-menu {
            width: 30px;
            cursor: pointer;
            .line {
              display: block;
              width: 100%;
              height: 5px;
              margin-bottom: 2px;
              background-color: $text-color;
              border-radius: 5px;
              &:first-child {
                margin-top: 15px;
              }
            }
          }
        }
      }
    }
  }
}

.mobile-header {
  background-color: #f0fbf9;
  position: fixed;
  width: 100%;
  top: 0;
  display: none;
  z-index: 100;
  .title {
    background-color: #f4fdfa;
    text-align: right;
    padding: 20px 20px;
    img {
      width: 80px;
    }
  }
  ul {
    text-align: center;
    margin: 0;
    padding: 25px 0;
    li {
      display: block;
      a {
        color: $text-color;
        text-decoration: none;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        padding: 15px 0;
        display: block;
        border-bottom: 2px solid transparent;
        position: relative;
      }
      &.current {
        a {
          position: relative;
          &::after {
            content: '';
            position: absolute;
            background: $brand-color;
            width: 13%;
            bottom: 3px;
            height: 4px;
            border-radius: 23px;
            left: 50%;
            margin-left: -26px;
          }
        }
      }
    }
  }
}

.button {
  background-color: $brand-color;
  color: #ffffff !important;
  font-size: 18px !important;
  border-radius: 8px;
  font-weight: 400 !important;
  padding: 15px 50px;
  text-transform: capitalize;
  &-header {
    padding: 8px 30px;
    font-size: 14px !important;
  }
  @media (max-width: 991px) {
    font-size: 16px !important;
  }
}

.home-banner {
  background-color: #fbfefd;
  min-height: 620px;
  margin-top: 7rem;
  overflow: hidden;
  &--wrapper {
    display: flex;
    padding: 50px 0 0;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 991px) {
      flex-direction: column;
      padding: 50px 0 0;
    }
  }
  &--info-section {
    width: 45%;
    padding-right: 40px;
    position: relative;
    @media (max-width: 991px) {
      width: 114%;
    }
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 1;
    }
    a.button {
      display: inline-block;
      margin-top: 10px;
      background-image: linear-gradient(
        to right top,
        #bac1cb,
        #9dbfd2,
        #74becf,
        #48bdbd,
        #33ba9c
      );
      cursor: pointer;
      z-index: 2;
      position: absolute;
      @media (max-width: 991px) {
      }
    }
    &-subtitle {
      margin-bottom: 10px;
      color: $brand-color;
      font-weight: 500;
      font-size: 16px;
      margin-top: 2rem;
      span {
        display: inline-block;
        border: 1px solid $brand-color;
        width: 30px;
        margin-right: 10px;
        vertical-align: middle;
      }
      @media (max-width: 991px) {
        margin-top: 0;
      }
    }
    &-title {
      font-style: normal;
      font-weight: 700;
      font-size: 68px;
      letter-spacing: -2px;
      line-height: 75px;
      color: $text-color;
      margin-bottom: 20px;
      @media (max-width: 991px) {
        font-style: normal;
        font-weight: 800;
        font-size: 28px;
        line-height: 39px;
      }
    }
    &-caption {
      margin-bottom: 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 19px;
      line-height: 32px;
      @media (max-width: 991px) {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
      }
    }
    &-button {
      a {
        display: inline-block;
      }
    }
  }
  &--image-section {
    width: 50%;
    text-align: right;
    vertical-align: top;
    @media (max-width: 991px) {
      width: 100%;
      text-align: center;
    }
    img {
      width: 40rem;
      // margin-top: -45px;
      @media (max-width: 991px) {
        margin-top: 100px;
        width: 88%;
      }
    }
  }
}

.our-services {
  padding: 70px 0 70px 0;
  background: #ffffff;
  text-align: center;
  .sub-title {
    padding: 10px 30px;
    display: inline-block;
    color: $brand-color;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 10px;
    @media (max-width: 991px) {
      padding: 0px 30px;
      margin-bottom: 0;
    }
  }
  .title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    width: 40%;
    margin: auto;
    margin-bottom: 4rem;
    @media (max-width: 991px) {
      line-height: 40px;
      width: 100%;
      font-size: 20px;
      font-weight: 800;
      margin-bottom: 2rem;
    }
  }
  .caption {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
    @media (max-width: 991px) {
      width: 100%;
    }
  }
  .card-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    @media (max-width: 991px) {
      flex-direction: column;
    }
    .card {
      width: 20%;
      background: #fff;
      text-align: left;
      padding: 20px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
      border: none;
      padding: 40px 20px;
      margin-bottom: 30px;
      border-radius: 10px;
      @media (max-width: 991px) {
        width: 90%;
      }
      .icon {
        margin-bottom: 20px;
        text-align: center;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        i {
          font-size: 4rem;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          &.assess {
            background-image: linear-gradient(340deg, #e68008 0%, #fb3a26 100%);
          }
          &.apply {
            background-image: linear-gradient(340deg, #e68008 0%, #fb3a26 100%);
          }
          &.pay {
            background-image: linear-gradient(340deg, #e68008 0%, #fb3a26 100%);
          }
          &.confirm {
            background-image: linear-gradient(340deg, #e68008 0%, #fb3a26 100%);
          }
        }
      }
      .card-title {
        font-size: 20px;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 1rem;
        margin-top: -15px;
        color: $text-color;
      }
      .caption {
        width: 100%;
        margin-bottom: 0;
        font-size: 16px;
      }
      a {
        color: #000;
      }
    }
  }
  .contact-card {
    display: flex;
    justify-content: space-between;
    @media (max-width: 991px) {
      flex-wrap: wrap;
    }
    .card {
      width: 32%;
      margin-bottom: 0rem;
      @media (max-width: 991px) {
        width: 100%;
        margin-bottom: 1rem;
      }
      .icon {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.05);
        background-color: #ffffff;
        margin: auto;
        i {
          display: inline-block;
          color: $brand-color;
          font-size: 30px;
          padding-top: 2rem;
        }
      }
      .caption {
        text-align: center;
        width: 100%;
        margin-top: 1rem;
        a {
          color: inherit;
        }
      }
    }
  }
  .media-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5rem;
    .press-log {
      width: 20%;
      margin-bottom: 3rem;
      @media (max-width: 991px) {
        width: 49%;
      }
      a {
        display: block;
      }
      img {
        width: 10rem;
        padding-bottom: 0.5rem;
      }
      &.guardian {
        img {
          width: 13rem;
          margin-bottom: 14px;
          @media (max-width: 991px) {
            width: 10rem;
          }
        }
      }
      &.newsexpress {
        img {
          width: 7rem;
        }
      }
      &.business {
        img {
          margin-bottom: -15px;
        }
      }
      &.BrandInfoLogo {
        img {
          margin-bottom: -19px;
        }
      }
      &.mg {
        img {
          width: 7rem;
        }
      }
    }
  }
}
.map {
  margin-top: 2rem;
  iframe {
    width: 100%;
    height: 400px;
  }
}
.brand-color {
  color: $brand-color;
  a {
    color: $brand-color !important;
  }
}
.itali {
  font-style: italic;
}
section.steps {
  position: relative;
  margin-bottom: 80px;
  .step-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .step {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      color: #fff;
      background-color: $brand-color;
      position: relative;
      text-align: center;
      font-weight: 600;
      .text {
        position: absolute;
        transform: rotate(-90deg);
        left: 2px;
        top: 33px;
        text-transform: uppercase;
        font-size: 20px;
      }
      .number {
        font-size: 57px;
        position: absolute;
        left: 43px;
        top: 7px;
      }
    }
    .the-title {
      font-weight: 600;
      margin-left: 20px;
      font-size: 23px;
    }
  }
  table {
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
    tr {
      th {
        text-align: left;
        padding: 10px;
        border-bottom: 1px solid;
      }
      td {
        text-align: left;
        padding: 10px;
      }
    }
  }
  ul {
    margin: 0;
    padding-left: 10px;
    li {
      display: inline-block;
      i {
        color: $brand-color;
      }
      .text {
        font-weight: 600;
      }
    }
  }
}

.social-platform {
  padding: 70px 0 70px 0;
  background: #fff;
  text-align: center;
  .sub-title {
    background: #ee3f5b21;
    padding: 10px 30px;
    margin-bottom: 10px;
    display: inline-block;
    color: $brand-color;
    font-weight: 800;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .title {
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 25px;
    width: 100%;
    margin-bottom: 20px;
    @media (max-width: 991px) {
      line-height: 40px;
    }
  }
  .caption {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 32px;
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
    @media (max-width: 991px) {
      width: 100%;
    }
  }
  .media-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 991px) {
      flex-direction: column;
    }
    .image-sec {
      width: 45%;
      img {
        width: 27rem;
        margin-bottom: 0rem;
        @media (max-width: 991px) {
          width: 22rem;
          margin-bottom: 2rem;
        }
      }
      @media (max-width: 991px) {
        width: 100%;
      }
    }
    .card-sec {
      width: 45%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      a {
        color: inherit;
        text-decoration: none;
        display: block;
      }
      @media (max-width: 991px) {
        width: 100%;
        flex-direction: row;
      }
      .card {
        width: 38%;
        padding: 20px;
        box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
        margin-bottom: 2rem;
        position: relative;
        a {
          display: block;
          text-decoration: none;
          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
          }
        }
        .icon {
          width: 50px;
          height: 50px;
          margin: auto;
          border-radius: 50%;
          font-size: 20px;
          position: relative;
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          &.facebook {
            background-color: #4063ae;
          }
          &.instagram {
            background: radial-gradient(
              circle at 30% 107%,
              #fdf497 0%,
              #fdf497 5%,
              #fd5949 45%,
              #d6249f 60%,
              #285aeb 90%
            );
          }
          &.twitter {
            background-color: #1c9ded;
          }
          &.linkedin {
            background-color: #0e73a4;
          }
          i {
            position: absolute;
            top: 15px;
            color: #fff;
          }
        }
      }
    }
  }
}

.video-platform {
  padding: 70px 0 100px 0;
  background: #edf6fd;
  text-align: center;
  .sub-title {
    background: #ee3f5b21;
    padding: 10px 30px;
    margin-bottom: 10px;
    display: inline-block;
    color: $brand-color;
    font-weight: 800;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .title {
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 25px;
    width: 100%;
    margin-bottom: 20px;
    @media (max-width: 991px) {
      line-height: 40px;
    }
  }
  ul {
    li {
      display: inline-block;
      margin-right: 1rem;
      .icon {
        width: 40px;
        height: 40px;
        margin: auto;
        border-radius: 50%;
        font-size: 20px;
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        &.facebook {
          background-color: #4063ae;
        }
        &.instagram {
          background: radial-gradient(
            circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%
          );
        }
        &.twitter {
          background-color: #1c9ded;
        }
        &.linkedin {
          background-color: #0e73a4;
        }
        i {
          position: absolute;
          top: 10px;
          color: #fff;
        }
      }
    }
  }
  .iframe-wrap {
    .iframe {
      width: 70%;
      height: 25rem;
      background-color: $brand-color;
      position: relative;
      margin: auto;
      @media (max-width: 991px) {
        width: 100%;
        height: 18rem;
      }
      iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1px solid;
        background-color: white;
        left: 1rem;
        top: 1rem;
        @media (max-width: 991px) {
          left: 0rem;
          top: 0rem;
        }
      }
    }
  }
}

.page-banner {
  width: 100%;
  height: 15rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-top: 5rem;
  @media (max-width: 991px) {
    height: 10rem;
  }
  .title {
    text-transform: capitalize;
    font-weight: 800;
    font-size: 30px;
    padding-top: 6rem;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    @media (max-width: 991px) {
      padding-top: 4rem;
    }
  }
}

.gallery-wrap {
  padding: 5rem 0;
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a {
      display: block;
      width: 31.5%;
      margin-bottom: 1rem;
      margin-right: 1rem;
      height: auto;
      // overflow: hidden;
      @media (max-width: 991px) {
        width: 45%;
      }
      .img {
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
        border-radius: 5px;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.event {
  background: #fff;
  .event-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 5rem 0;
    @media (max-width: 991px) {
      flex-direction: column;
    }
    .content {
      width: 45%;
      @media (max-width: 991px) {
        width: 100%;
      }
      .title {
        margin-bottom: 20px;
        color: $brand-color;
        font-weight: 800;
        font-size: 19px;
        margin-top: 7rem;
        @media (max-width: 991px) {
          margin-top: 0rem;
        }
        span {
          display: inline-block;
          border: 1px solid $brand-color;
          width: 30px;
          margin-right: 10px;
          vertical-align: middle;
        }
      }
      .text {
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 32px;
        width: 100%;
        margin-bottom: 40px;
      }
    }
    .image {
      width: 45%;
      @media (max-width: 991px) {
        width: 100%;
        text-align: center;
      }
      img {
        width: 30rem;
        @media (max-width: 991px) {
          width: 20rem;
        }
      }
    }
  }
}

section.content {
  padding: 2rem 0 5rem 0;
  &.no-bottom {
    padding: 2rem 0 0rem 0;
  }
  ol,
  ul {
    margin: 0;
    padding-left: 10px;
    li {
      margin-bottom: 10px;
    }
  }
  ul.segmented-content {
    li {
      display: inline-block;
      line-height: 25px;
      margin-bottom: 20px;
    }
  }
  .inner-title {
    margin: 10px 0;
    span.icon {
      display: inline-block;
      i {
        color: $brand-color;
      }
    }
    span.text {
      display: inline-block;
      font-weight: 600;
      padding-left: 10px;
    }
  }
  .content {
    span {
      display: block;
      margin-bottom: 5px;
      line-height: 25px;
    }
  }
  .sub-title {
    padding: 10px 30px;
    display: inline-block;
    color: $brand-color;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;
    text-align: center;
    display: block;
    @media (max-width: 991px) {
      padding: 0px 30px;
      margin-bottom: 0;
    }
  }
  .title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    width: 40%;
    margin: auto;
    margin-bottom: 4rem;
    @media (max-width: 991px) {
      line-height: 40px;
      width: 100%;
      font-size: 20px;
      font-weight: 800;
      margin-bottom: 2rem;
    }
  }
  p {
    &.bold {
      font-weight: 600;
    }
  }
  .ceo {
    display: flex;
    align-items: center;
    .img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-right: 10px;
    }
    .role {
      font-size: 13px;
      color: #999;
    }
  }
}

.partnerships {
  padding: 5rem 0 0;
  @media (max-width: 991px) {
    padding: 0;
  }
  .banner {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    @media (max-width: 991px) {
      height: 400px;
    }
    .overlay {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      text-align: center;
      padding: 5rem 10px;
      @media (max-width: 991px) {
        padding: 2rem 10px;
      }
      .caption {
        margin-bottom: 10px;
        color: #33ba9c;
        font-weight: 500;
        font-size: 16px;
        margin-top: 2rem;
      }
      .content {
        font-weight: 700;
        font-size: 68px;
        letter-spacing: -2px;
        line-height: 75px;
        color: #fff;
        margin-bottom: 20px;
        width: 67%;
        margin: auto;
        @media (max-width: 991px) {
          width: 90%;
          font-size: 45px;
          line-height: 55px;
        }
      }
      a {
        display: inline-block;
        margin-top: 2rem;
      }
    }
  }
}

footer {
  border-top: 1px solid #e8ecf6;
  padding: 60px 0 30px 0;
  position: relative;
  @media (max-width: 991px) {
    padding: 50px 0 50px 0;
  }
  .wrap {
    display: flex;
    flex-direction: row;
    @media (max-width: 991px) {
      flex-direction: column;
    }
    .copy {
      width: 50%;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      text-align: left;
      @media (max-width: 991px) {
        width: 100%;
        text-align: center;
        order: 1;
      }
    }
    .social {
      width: 50%;
      ul {
        text-align: right;
        margin-top: 0;
        @media (max-width: 991px) {
          text-align: center;
          margin-top: 30px;
          padding-left: 0;
        }
        li {
          display: inline-block;
          margin-left: 20px;
          @media (max-width: 991px) {
            margin-right: 20px;
            margin-left: 0;
          }
          a {
            display: inline-block;
            img {
              width: 25px;
            }
          }
        }
      }
      @media (max-width: 991px) {
        width: 100%;
      }
    }
  }
}
.floating-wpp {
  right: 15px;
  left: auto;
}
.floating-wpp-button {
  width: 60px !important;
  height: 60px !important;
}
.floating-wpp .floating-wpp-popup.active {
  left: -17rem;
}
